@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181b;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family:
    "Helvetica Neue",
    Helvetica,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}